.matrix
.gdbinit
astyle
*.orig
*~
docs/ExampleOS/*
docs/ExampleOS/minix_R3.2.1-972156d.iso
docs/ExampleOS/CakeOS
docs/ExampleOS/BareMetal-OS-0.6.1
docs/ExampleOS/metta
docs/ExampleOS/linux-3.13.2
docs/ExampleOS/JS-OS
docs/ExampleOS/JAMESMOLLEY
docs/ExampleOS/PHANTOMEX
Local/
