.matrix
.gdbinit
docs/ia-32developer-manual.pdf
docs/linux-3.13.2
docs/JS-OS-master
docs/JAMESMOLLEY
docs/PHANTOMEX
astyle
*.orig
docs/ISO_C99.pdf
docs/minix_R3.2.1-972156d.iso
docs/buildtools-master
docs/CakeOS
docs/BareMetal-OS-0.6.1
docs/metta
